# Python – Relembrando os Fundamentos Básicos

In [1]:
# Versão da Linguagem Python
from platform import python_version as _pv
print(f'Versão da Linguagem Python utilizada neste Jupyter Notebook: {_pv()}')

Versão da Linguagem Python utilizada neste Jupyter Notebook: 3.10.4

## Strings

Além de números, Python também pode manipular sequências de caracteres, que podem ser expressas de diversas formas. Elas podem ser delimitadas por aspas simples _('...')_ ou duplas _("...")_ e teremos o mesmo resultado. _\_ pode ser usada para escapar caracteres especiais.

In [7]:
'hello world'    # single quotes

'hello world'

In [25]:
"spam eggs"    # double quotes

'spam eggs'

In [ ]:
'Isn\'t, they said.'    # \ pode ser usada para escapar aspas.

Se não quiseres que os caracteres sejam precedidos por _\_ para serem interpretados como caracteres especiais, poderás usar _strings raw_ adicionando um *r* antes da primeira aspa.

In [61]:
print('C:\some\name')    # here \n means newline!

C:\some
ame

In [62]:
print(r'C:\some\name')    # note the r before the quote

C:\some\name

In [9]:
'"Isn\'t," they said.'    # aspas duplas dentro de aspas simples.

'"Isn\'t," they said.'

In [10]:
"Isn't, they said."    # aspas simples dentro de aspas duplas.

"Isn't, they said."

As strings literais podem abranger várias linhas. Uma maneira é usar as aspas triplas: _"""..."""_ ou _'''...'''_. O fim das linhas é incluído automaticamente na string, mas é possível evitar isso adicionando uma \ no final. O seguinte exemplo:

In [16]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

#### Concatenação de strings

Strings podem ser concatenadas (coladas) com o operador +, e repetidas com *:

In [17]:
'spam' + 'eggs'

'spameggs'

In [20]:
'spam' * 5

'spamspamspamspamspam'

Duas ou mais strings literais (ou seja, entre aspas) ao lado da outra são automaticamente concatenados.

In [22]:
'Py' "thon"

'Python'

Esse recurso é particularmente útil quando você quer quebrar strings longas:

In [23]:
text = ('Put several strings within parentheses '
        'to have them joined together.')

In [24]:
print(text)

Put several strings within parentheses to have them joined together.

#### Indexando Strings

In [26]:
my_str = 'Python'

```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```

In [27]:
my_str[0]    # character in position 0

'P'

In [28]:
my_str[1]    # character in position 1

'y'

In [29]:
my_str[2]    # character in position 2

't'

In [30]:
my_str[3]    # character in position 3

'h'

In [31]:
my_str[4]    # character in position 4

'o'

In [32]:
my_str[5]    # character in position 5

'n'

In [34]:
# IndexError: string index out of range.
my_str[6]

IndexError: string index out of range

In [35]:
my_str[-1]    # last character

'n'

In [36]:
my_str[-2]    # second-last character

'o'

Note que dado que -0 é o mesmo que 0, índices negativos começam em -1.

word[42]  # the word only has 6 charactersA tentativa de usar um índice que seja muito grande resultará em um erro:

In [48]:
# IndexError: string index out of range.
my_str[42]    # the word only has 6 characters

IndexError: string index out of range

#### Slicing

In [37]:
my_str[0:2]    # characters from position 0 (included) to 2 (excluded)

'Py'

In [38]:
my_str[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

Os índices do fatiamento possuem padrões úteis; um primeiro índice omitido padrão é zero, um segundo índice omitido é por padrão o tamanho da string sendo fatiada:

In [41]:
my_str[:2]    # character from the beginning to position 2 (excluded)

'Py'

In [40]:
my_str[4:]    # characters from position 4 (included) to the end

'on'

In [39]:
my_str[-2:]    # characters from the second-last (included) to the end

'on'

Observe como o início sempre está incluído, e o fim sempre é excluído. Isso garante que str[:i] + str[i:] seja sempre igual a str:

In [43]:
my_str[:2] + my_str[2:]

'Python'

In [46]:
my_str[:4] + my_str[4:]

'Python'

Indices de fatiamento fora do alcance são tratados com robustez.

In [49]:
my_str[4:42]

'on'

In [50]:
my_str[42:]

''

Podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1).

In [64]:
my_str[::1]

'Python'

In [67]:
my_str[::2]

'Pto'

In [70]:
my_str[::-1]    # reverse a string

'nohtyP'

#### Propriedades de Strings

As strings do Python não podem ser alteradas - *uma string é imutável*. Portanto, atribuir a uma posição indexada na sequência resulta em um erro:

In [52]:
# TypeError: 'str' object does not support item assignment
my_str[1] = 'i'

TypeError: 'str' object does not support item assignment

In [55]:
# TypeError: 'str' object does not support item assignment
my_str[:2] = 'py'

TypeError: 'str' object does not support item assignment

Se você precisar de uma string diferente, deverá criar uma nova:

In [56]:
my_str_02 = my_str[:2]

In [57]:
print(my_str_02)

Py

### Função len

In [58]:
# Return the number of items in a container.
len(my_str)

6

In [59]:
len(text)

68

#### Principais funções aplicadas as Strings

In [71]:
my_text = 'So Long, and Thanks for All the Fish.'

In [74]:
# Return a copy of the string converted to uppercase.
my_text.upper()

'SO LONG, AND THANKS FOR ALL THE FISH.'

In [78]:
# Return a copy of the string converted to lowercase.
my_text.lower()

'so long, and thanks for all the fish.'

In [81]:
#  Return a list of the words in the string, using sep as the delimiter string.
my_text.split()

['So', 'Long,', 'and', 'Thanks', 'for', 'All', 'the', 'Fish.']

In [82]:
my_text.split('a')

['So Long, ', 'nd Th', 'nks for All the Fish.']

In [86]:
# Return a capitalized version of the string.
my_text.capitalize()

'So long, and thanks for all the fish.'

In [89]:
# Return the number of non-overlapping occurrences of substring sub in string.
my_text.count('n')

3

In [91]:
# Return the lowest index in str where substring sub is found.
my_str.find('g')

-1

### Comparando Srings

In [92]:
print('Python' == 'python')

False

In [93]:
print('Python' == 'Python')

True